[2018-08-21 22:41] szul opened #1 "Add botbuilder-config repository code"
Add the botbuilder-config repository code and archive the previous version.

[2018-08-21 22:42] szul opened #2 "Add botbuilder-azuretablestorage repository code"
Add the botbuilder-azuretablestorage repository code and archive the previous version.

[2018-08-21 22:45] szul opened #3 "Move NPM packages to the Bot Builder Community account"

[2018-08-21 22:48] szul opened #4 "Switch Travis-CI to build from org"
Will require a new NPM with token.

Also, configuration might need to change once all are in a single repository.

[2018-08-22 08:56] garypretty commented on #1
@szul would the BotBuilder-Community-tools repo not be more appropriate for this?

[2018-08-22 13:14] garypretty commented on #1
Ok cool. Sorry, only had time to glance quickly so far - that's makes perfect sense. Cheers for clarifying.

[2018-08-23 11:53] szul commented on #3
Will need to investigate this more. I can't find straightforward documentation on transferring NPM packages or associating packages with an org (without including a namespace). The same goes for the packages in [botbuilder-community-tools](https://github.com/BotBuilderCommunity/botbuilder-community-tools).

[2018-08-23 12:52] szul opened #6 "Add NPM badges to the README table next the repo packages"
This could also be implemented for the NPM packages in botbuilder-community-tools. There is a module called [badges](https://www.npmjs.com/package/badges) that looks like a lot of people utilize. Open to this or another solution to align the design of the JavaScript/TypeScript projects with the NuGet badges in the dotnet repo.

[2018-08-23 12:56] garypretty commented on #6
@szul for the .NET repo we are using a simple URL to define the badge, it's contents and the color of the badge.  We chose to do this manually at this stage as we will only be pushing NuGet updates for individual components when they actually change, as opposed to pushing NuGet packages for everything on every build of master. An example would be https://img.shields.io/badge/NuGet-1.0.39-blue.svg

[2018-08-23 13:49] szul commented on #1
Resolved with commit 98075acb9c8b5b664cd0b011580f5a5f454d4a36

[2018-08-23 13:49] #1 closed

[2018-08-24 15:29] szul commented on #6
Addressed by pull request #7.

[2018-08-24 15:29] #6 closed

[2018-08-24 15:30] szul commented on #2
Completed with pull request #7.

[2018-08-24 15:30] #2 closed

[2018-08-24 17:36] szul opened #8 "Add a getOptions() method to grab an exact JSON options structure for bot middleware"
_botbuilder-config_

For example, instead of having to get the subscription keys, access keys, etc. for QnA Maker by grabbing it off of the object, you could do a `c.QnAMaker().getOptions()` and it would return the exact options structure needed for the middleware.

[2018-08-24 17:38] szul opened #9 "Possible changes in crypto on the horizon"
_botbuilder-config_

Looks like Microsoft [might already be](https://github.com/Microsoft/botbuilder-js/commit/0a93d0a96f0685a3cc9254fda8b6934c0b11946b) creating their version of a configuration consumer/decrypter, and seem to be making changes to the algorithm. This could mean breaking crypto changes that will have to be folded into this.

[2018-08-24 17:40] szul opened #10 "Add endpoint construction method to the LUIS class"
_botbuilder-config_

In the event the PR for the botbuilder-tools is delayed, or not accepted, need to be able to dynamically construct the endpoint URL.

The botbuilder-tools repo has an [issue 330](https://github.com/Microsoft/botbuilder-tools/issues/330) that seems to suggest Microsoft wants to use authoringRegion instead of an endpoint, and that the endpoint may be dynamically constructed. Wil

[2018-08-30 23:14] szul opened #11 "Port community dialog prompts"
The community dialog prompts from the dotnet repo are the ideal candidate(s) for a first attempt at porting over some dotnet items to NodeJS.

[2018-08-31 15:44] szul commented on #8
Added options methods to forked commit: https://github.com/szul/botbuilder-community-js/commit/fbc90eba105c673a8bf763605fec716c1dfc76f2

Need to write logic to construct the JSON objects. Then will do a PR.

In order to reference the botbuilder types, it requires installing the botbuilder, ai, and azure libraries, which seems heavy-handed. At the very least, could probably shift those libraries to

[2018-09-06 12:06] szul opened #13 "Azure Table Storage fails for conversation state"
The code ported from the Microsoft repo has this issue attached:
https://github.com/Microsoft/botbuilder-js/issues/277

...which seems to be related to this issue as well (for blob storage):
https://github.com/Microsoft/botbuilder-js/issues/314

A recent PR (https://github.com/Microsoft/botbuilder-js/pull/369) fixes it for the blob storage, and we might be able to piggyback off of it for a fix her

[2018-09-06 12:35] szul commented on #10
Confirmed that we will need to construct this via the authoring region: https://github.com/Microsoft/botbuilder-tools/pull/267

[2018-09-07 15:02] martinkearn opened #14 "Port Sentiment Middleware to Node"
Would be great to have a Node version of the .net sentiment middleware (https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/master/libraries/Bot.Builder.Community.Middleware.SentimentAnalysis).

[2018-09-17 12:51] MarekLani commented on #14
@martinkearn I will try to publish here the one we've created.

[2018-09-17 22:52] sgellock commented on #13
the pr just went into master

[2018-09-17 22:54] szul commented on #13
@sgellock Thanks for the heads up!

[2018-09-28 15:56] szul commented on #10
No longer needed if we extend botframework-config.

[2018-09-28 15:56] #10 closed

[2018-09-28 15:58] szul opened #15 "Have botbuilder-config extend botframework-config"
The botbuilder-config package was created because at the time, the Bot Framework had no way of consuming the bot files and using them in chatbots. Microsoft has since created a botframework-config package to do this. The botbuilder-config has enough variance (and future functionality), that I want to keep it active, but we should extend the botframework-config package to avoid reinventing the whee

[2018-09-28 15:59] szul commented on #15
I've begun work on this on a different branch: https://github.com/szul/botbuilder-community-js/tree/extension

[2018-10-03 15:53] szul commented on #3
Each org/team member can grant read/write privileges to packages using `npm access grant ... `, so the Bot Builder Community org "developers" team has read/write access to all packages granted. After making this change, @jamesemann shows up as a collaborator, and packages show up under the org page as well, so I think we're good here.

[2018-10-03 15:53] #3 closed

[2018-10-04 13:44] szul commented on #14
Resolved with PR #16. NPM package coming soon.

[2018-10-04 13:44] #14 closed

[2018-10-07 00:52] szul commented on #11
Working on this with PR #20.

[2018-10-07 19:22] szul opened #21 "Add TSLint to project"
Suggested by @iMicknl to clean up the code, and make it more uniform. Would align us with the Bot Framework team's usage.

[2018-10-07 19:25] szul opened #22 "Add TestAdapter and Mocha unit tests"
Right now tests are simply an example bot that you can run manually. We should incorporate Mocha as the unit test framework, and then use the TestAdapter in the Bot Framework to help run the tests. Examples for the Node.JS usage of the TestAdapter can be found in the Bot Framework source code, as well as some of the libraries tests.

[2018-10-07 20:05] iMicknl commented on #21
I will have a look the coming days, if I can PR this. My preference would also be to enforce this using CI/CI via [Azure Pipelines](https://github.com/marketplace/azure-pipelines). Is this something we could setup eventually? To ensure all new PR's are following the code standard and all tests are passed.

[2018-10-07 20:11] szul commented on #21
@iMicknl Yes, I want to move away from Travis-CI and do the build/test/release in Azure Pipelines. Do you know if we need to all be on the same tenant to work together in Pipelines, or is it possible to be a team org with different addresses/accounts?

[2018-10-09 14:23] szul opened #27 "Need to identify which dialog prompts should process multiple results"
With some prompts, it makes sense to limit the result to a single value, but with others, it would be more valuable to return an array of values. We should identify which ones this applies to, and make the appropriate adjustments.

[2018-10-09 14:54] szul opened #28 "Rename Azure table storage package/folder, and change NPM"
The botbuilder-azuretablestorage folder should be renamed botbuilder-storage, and the NPM package should be renamed `@botbuildercommunity/storage` to put it in the org scope like the other packages. Will need to deprecate the previous package in NPM. This will allow us to build out additional storage middleware and options in a single package.

[2018-12-10 12:38] szul commented on #4
From Travis-CI, this isn't an issue since NPM works on a per user basis and the scope controls the package/org. Still want to move it to Azure Pipeline though.

[2018-12-11 12:35] szul opened #31 "Link the NPM badges to the actual packages in the NPM web site"
Right now they just link to the SVG of the badge itself.

[2018-12-23 13:42] #21 closed

[2018-12-23 19:08] #4 closed

[2018-12-24 13:17] #31 closed

[2018-12-27 15:02] #13 closed

[2018-12-27 15:02] #28 closed

[2018-12-28 14:01] szul commented on #15
This and #8 are next on my horizon. Going to rip apart the botbuilder-config and just build convenience methods off of the botframework-config, and see if there is value. If not, I'll deprecate this package.

[2018-12-31 15:12] szul opened #39 "Proper NPM build/postinstall when using Lerna"
As per @iMicknl's comment on PR #38: The individual package calls to `tsc` in their local `node_modules` folders was replaced with just `tsc`. This is because a configuration of:

`"postinstall": "./node_modules/.bin/tsc -p ."`

or

`"postinstall": "./node_modules/.bin/tsc"`

...throws an error when `lerna bootstrap` is run of:

`'.' is not recognized as an internal or external command`

This seem

[2019-01-02 16:09] szul commented on #39
@stevenic Any advice on this from how your team handles it?

[2019-01-23 12:31] #39 closed

[2019-02-12 13:58] wilhen01 commented on #22
+1 would be great to see example tests...

[2019-02-12 14:13] szul commented on #22
@wilhen01 I have a handful of new packages I'm working on, and will definitely make the tests for them utilize the TestAdapter.

[2019-02-12 14:40] wilhen01 commented on #22
@szul Superb! Please link them in here when they get pushed 😄

[2019-03-11 20:57] rjgmail88 commented on #22
Any update here ? I would like to see some examples of unit test cases.

[2019-03-12 09:13] wilhen01 commented on #22
I'm happy to share the following sample snippet, hopefully useful to others!

[code]

The `MyBot` import shown there is for a toy bot I wrote which greets the user and tells random jokes. I think the code should be self explanatory but feel free to ask questions.

[2019-03-12 11:42] szul commented on #22
@rjgmail88 We're doing two things with these modules: 1.) TSLint, 2.) Tests. But we are slowly working through it. Newer modules will have tests built it. @wilhen01's example shows some general usage, and I'm finishing up a book that has a whole chapter on it.

That's the long way of saying we're getting there :)

[2019-03-12 14:17] rjgmail88 commented on #22
@appriciate your help @szul and @wilhen01 . I was trying to write the test case but, it had some issue where promise response wasn't handled correctly. Here is what I have.

[code]

Do you guys think we can test adaptive cards, session state data etc with this going forward ?

[2019-03-12 14:19] wilhen01 commented on #22
@rjgmail88 If you look at the example I've given above, you need to return the adapter in the test for the promise result to actually affect whether the test passes or fails

[2019-03-12 14:20] wilhen01 commented on #22
So on line 10 of your snippet change `adapter.send('help')` to `return adapter.send('help')`

[2019-03-12 14:21] rjgmail88 commented on #22
@wilhen01 I don't see _describe_ and _It_ blocks in your test case. Is that something new in mocha where we can just have a test case wrapped in **test** block ? Sorry just trying to understand if I am missing something.

[2019-03-12 14:24] wilhen01 commented on #22
@rjgmail88 I'm using Jest rather than mocha so the syntax is slightly different. I'm pretty sure that you'll need to return the adapter regardless of which test framework you're using.

[2019-03-12 14:27] wilhen01 commented on #22
Just checked the documentation - Jest uses `describe` and `test` rather than `describe` and `it`. In Jest the `describe` functions are merely for grouping and test arrangement and serve no functional purpose, so you can just have `test` without describe - I think it's the same in Mocha.

[2019-03-12 14:40] rjgmail88 commented on #22
@wilhen01 thank you.

[2019-03-12 14:50] wilhen01 commented on #22
No problem @rjgmail88 😄

[2019-03-12 15:03] rjgmail88 commented on #22
@wilhen01 one small favor. I rewrote my test case according to yours as follows

[code]

but, it has some issue and trying to figure our where its going wrong. If I comment the assertReply I see  '0 passing (3ms)' in the debug console which mean test didnt run. If you enable assertReply I see following stack trace. Fyi, my bot says 'Let me help you to fix your daily routine' when user types 'help.

[2019-03-12 15:19] wilhen01 commented on #22
Sorry, I maybe didn't explain my code example sufficiently You don't need the second assertion in your case - the `test` method on TestAdapter is a wrapper around `send` and `assertReply` which both sends a message (arg 1) and asserts the reply that should be received (arg 2). Docs here: https://docs.microsoft.com/en-us/javascript/api/botbuilder-core/testadapter?view=botbuilder-ts-latest

The reas

[2019-03-12 16:02] rjgmail88 commented on #22
@wilhen01 that make sense. I got it working with test() instead send(). and its rocking !

Did you test multi turn flow with any of you test cases ? Ex: if dialog is designed like this. I am wondering if we can wrap it one test case.

[User: hi
Bot: what is your name ?
User: Sam
bot: what is your age ?
user: 30
Bot: where do you live ?
user: US
bot: Welcome Sam in US.](url)

[2019-03-12 16:12] wilhen01 commented on #22
Yes I checked multi-turn flow - you can chain unlimited `test`/`send`/`assertReply` commands together on the same adaptor and test an entire conversational flow 😄 glad you got it working!

[2019-03-12 16:38] rjgmail88 commented on #22
Perfect !

On Tue, Mar 12, 2019 at 11:16 AM Henry Wilson <notifications@github.com>
wrote:

[2019-03-13 20:16] damadei opened #41 "Usability of Google Adapter"
Hi all,

I'm trying to use the Google Bot Adapter and having some issues, first had to adapt the path to /api/actionrequest which is different from the documentation.

After that we had a bug on the following line inside GoogleAdapter.cs (line 116) where Arguments was null and we did not have the ? operator)

            if(actionPayload.Inputs.FirstOrDefault()?.Arguments?.FirstOrDefault()?.Name =

[2019-03-13 20:19] #41 closed

[2019-03-13 20:19] damadei commented on #41
Open in the wrong place

[2019-03-30 12:36] szul commented on #15
Closed as per PR #42.

[2019-03-30 12:36] #15 closed

[2019-03-30 12:36] szul commented on #8
Closed as per PR #42.

[2019-03-30 12:36] #8 closed

[2019-03-30 12:37] szul opened #43 "Update Bot Builder dependencies to keep aligned with main releases"

[2019-03-30 12:38] szul opened #44 "Remove Travis files and add build tasks in Azure DevOps"

[2019-04-03 11:11] szul commented on #43
Fixed with #45.

[2019-04-03 11:11] #43 closed

[2019-04-05 14:21] #22 closed

[2019-04-29 16:11] EricDahlvang opened #50 "Separate libraries into different modules"
I requested the creators of this mongodb library move it to the BotBuilderCommunity repository.  However, they objected that the community repository does not have everything separated into different modules: https://github.com/botbuilder-contrib/botbuilder-storage-mongodb/issues/10

[2019-04-29 16:22] szul commented on #50
@EricDahlvang The decision was made by @garypretty when the community team was formed that we should parallel the Microsoft structure as closely as possible. As such, much like the botbuilder-azure repo contains all storage adapters, we decided to go with a single storage module here.

Personally, I have no problem if @nurih wants to contribute that package as a `botbuilder-storage-mongodb` folder

[2019-04-30 02:58] EricDahlvang commented on #50
Thanks!

[2019-04-30 02:58] #50 closed

[2019-04-30 05:12] garypretty commented on #50
Yes, totally fine with me.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Eric Dahlvang <notifications@github.com>
Sent: Tuesday, April 30, 2019 3:58:10 AM
To: BotBuilderCommunity/botbuilder-community-js
Cc: Gary Pretty; Mention
Subject: Re: [BotBuilderCommunity/botbuilder-community-js] Separate libraries into different modules (#50)

Thanks!

—
You are rec

[2019-05-04 22:51] benbrown opened #52 "Re-publish adapters package with Javascript compiled"
The current version of the adapters package is published to npm as Typescript only.  This should be compiled to Javascript and republished.

[2019-05-04 22:54] szul commented on #52
@benbrown If you're on NPM, send me your ID. I can add you to the BotBuilderCommunity org, so you have publishing rights to the scope.

[2019-05-04 23:27] #52 closed

[2019-07-04 15:17] szul opened #57 "Dialog prompts failing tests on 4.3.4 and 4.4"
For the [botbuilder-dialogs-prompts](https://github.com/BotBuilderCommunity/botbuilder-community-js/tree/master/libraries/botbuilder-dialog-prompts), running the tests throws the following error per dialog prompt:

[code]

The code for these dialog prompts parallels the dialog prompts in the Microsoft repo. Not sure what the failure is coming from. Needs further investigation.

[2019-07-04 15:18] szul commented on #57
@benbrown Any insight here would be appreciated.

[2019-07-04 16:53] benbrown commented on #57
This might be a package version thing - all of the BOTBUILDER packages should be the same version

[2019-07-05 14:10] szul commented on #57
Resolved by #58.

@benbrown Would believe there was an errant `node_modules` folder in the `test` directory that was the conflict. Not even sure how that got there on my local machine. UGH.

[2019-07-05 14:10] #57 closed

[2019-07-11 13:13] iMicknl opened #60 "Port C# adapters to JS (Alexa, Google, Twitter)"
Would be nice to have support for Alexa, Google Assistant and Twitter DM for Javascript based bots.

Tracking issue for the migration:
- [ ] [Alexa Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bot.Builder.Community.Adapters.Alexa)
- [ ] [Google Adapter](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/blob/develop/libraries/Bo

[2019-07-11 13:59] szul commented on #60
@iMicknl It's on the list of things to do, but hasn't been started yet. There is only a console adapter in the `botbuilder-adapters` folder currently. I am working on AI components right now, so if this is something you want to take a stab at, have at it!

[2019-07-20 12:58] szul opened #62 "Error in dialogs afters upgrading to SDK 4.5.1"
After the upgrade, the following errors are encountered when running `npm run test`:

[code]

This seems to be pointing to a file in the botbuilder-dialog package in the Bot Framework.

[2019-07-20 12:59] szul commented on #62
The upgraded 4.5 package was not published to NPM. On hold until this issue is resolved.

[2019-07-25 11:25] szul commented on #62
This might be solved by 4.5.2.

[2019-07-25 11:50] szul opened #64 "Create hierachical packages for some collections to better abstract"
As discussed with @iMicknl, and noted in #63, we should take packages like the adapters and storage and break them out more, but leave the top level one for "install all" capabilities.

I like how [Text Recognizers](https://github.com/Microsoft/Recognizers-Text/tree/master/JavaScript/packages/recognizers-text-suite) are handled.

For storage, it could be:
`npm install @botbuildercommunity/storage`

[2019-07-25 12:54] iMicknl opened #65 "Adaptive Card to Image middleware"
Some channels (like experimental WhatsApp) just support images and don’t support Adaptive Cards. It would be great if there was a middleware, which could be used to transform adaptive cards to images for selected channels.

As far as I know, this is something that is be done by default in the Bot Service. However, this isn’t available for the custom adapters.

Currently, the latest Adaptive Cards

[2019-07-26 16:48] #62 closed

[2019-07-28 18:28] iMicknl commented on #64
I just had a second thought about this, for the adapters. If we want to achieve something like this, all interfaces and classes should be unique.. This can be easily achieved in the `recognizers-text` repository, since all packages are related and inherit the same interfaces. I belief this will be different in our situation.

Is there a real use case to use `@botbuildercommunity/adapters` and `@bo

[2019-07-28 21:26] szul commented on #64
I get that in production you're likely to choose one adapter or one storage, but from a training, tutorial, and education perspective, it is more convenient for me (and other who do tutorials), just to be able to install one package (such as adapters), and then experiment with each--so I don't see the harm is keep a base "suite" to "install all" for situations like those.

I'm open to opinions tho

[2019-07-28 21:31] szul opened #68 "Change folder names in repo to reflect "community" reference"
Currently, the `libraries` folder has each package, and each package is prefixed with "botbuilder-". Should we change that prefix to be "botbuildercommunity-"? Should we remove the prefix entirely?

For reference, the NPM packages are scoped to the `@botbuildercommunity` organizations, so the `botbuilder-adapters` folder aligns with the `@botbuildercommunity/adapters` NPM package.

This is more an

[2019-07-28 21:38] iMicknl commented on #64
Valid point. In that case interfaces / classes should be unique in the adapter 'namespace' for example, so that would be something to keep an eye on.

[2019-07-28 23:21] szul opened #71 "Middleware structure and name changes"
As referenced in #70 and originally discussed in #64, we need to break apart "collective" packages to give users individual choice, but also have an overall "suite" install still in place. While looking into this for my recent Watson integration, I realized that we ended middleware packages with "middleware", and likely put that in the wrong place.

As per my PR, we probably want to do something l

[2019-07-28 23:33] iMicknl commented on #44
Would be great to have Azure Pipelines configured for a 1.0 release. I saw that `botbuilder-dotnet` is using a develop branch and CI/CD on Azure Pipelines, maybe we can 'steal' their process partly.

What would a definition look like? Something like this?

# Build Pipeline
Trigger: *

Tasks:
- Install Node.js (10.x)
- npm install
- Run lerna (build all packages)
- Run ESLint (all packages)
- Run m

[2019-07-28 23:42] szul commented on #44
Yeah, @garypretty created an org for us, I just haven’t had the opportunity to convert the repos and set up the pipelines yet. I’ve been in a bit of a holding pattern for 6 months, but now I’m back to being active enough to knock some issues out and make some changes. I’ll try to get this situated in the next week or so.

[2019-08-03 22:12] szul commented on #64
I'm starting to reconsider a base package. I built the text analysis middleware (PR #70) to be swappable, so whether you use Cognitive Services or IBM Watson, the class names are the same. If we had a base middleware, it would create namespace collisions. Fixing those collisions would basically end up losing the value of having a base install package to begin with.

Open to suggestions. If we kill

[2019-08-04 12:49] szul opened #73 "Simplify the .gitignore and .npmignore files"
As per this conversation with @iMicknl:
https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/70#discussion_r310383206

We should consider simplifying the .gitignore and the .npmignore and keep them in the root with overrides in the subfolders.

[2019-08-04 12:56] szul opened #74 "Add .vscode folder to .gitignore"
I left the `.vscode` folders in the repos because it made it easier for me. Probably isn't the best idea. As per this comment from @iMicknl:
https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/70#discussion_r310383370

...we should probably ignore them.

[2019-08-04 13:06] szul opened #75 "Standardize the .npmignore file"
Right now--for publishing--we're only ignoring the `node_modules` folder. We should probably ignore other things like example and test folders. Things that a production package doesn't need.

[2019-08-04 13:15] szul opened #76 "Consider the option to pass language into the text analysis"
As per @iMicknl's comment:
https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/70#discussion_r310383924

[2019-08-04 13:29] szul opened #77 "Constructor standardization"
For classes that accept multiple arguments in the constructor, what is the standard practice? Should it always been a settings/configuration object, or are there times when it makes sense to pass in multiple arguments accompanied by an options parameter?

Based on:
https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/70#discussion_r310383843

[2019-08-04 13:37] szul opened #78 "Node version support"
Does it make sense to list the supported Node version? I had an older version of Node and came across this issue:
https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/63#issuecomment-518003570

...when reviewing @iMicknl's Twilio WhatsApp adapter. My version could have just been too old though.

What is the standard practice?

[2019-08-04 13:58] iMicknl opened #83 "Keep a changelog"
Add a changelog to every package, which shows updates and breaking changes according to [Keep a changelog](https://keepachangelog.com/en/1.0.0/) and [semver](https://semver.org/).

Could be used as source for releases on Github etc.

[2019-08-09 22:53] szul commented on #44
Resolved by #88.

[2019-08-09 22:53] #44 closed

[2019-08-10 12:23] iMicknl opened #90 "1.0.0 Release checklist"
## Pre 1.0.0 release

## Post 1.0.0 release
- [x] Close #83
- [x] Deprecate [@botbuildercommunity/adapters](https://www.npmjs.com/package/@botbuildercommunity/adapters) and refer to `@botbuildercommunity/adapter-console`.
- [x] Review all `CHANGELOG.md` files and add publication date.

[2019-08-10 13:54] #64 closed

[2019-08-10 18:57] iMicknl opened #93 "[Feature"

[2019-08-10 20:53] szul commented on #75
Thinking node_modules and examples, but what about tests?

[2019-08-10 21:33] iMicknl commented on #75
@szul [this](https://stackoverflow.com/a/37421736) is an interesting discussion. Only include the files by using the `files` property could be a nice solution.

[2019-08-17 16:02] szul commented on #90
@iMicknl I was going to wait on deprecating the old adapters package and pointing to the new one until after v1 is merged into master. Let me know if you want to handle this differently.

[2019-08-19 10:49] iMicknl commented on #90
@szul deprecating the old packages is stated for post 1.0.0 release.

[2019-08-24 21:04] szul commented on #71
The v1 milestone resolves this with #94 and #96.

[2019-08-24 21:04] #71 closed

[2019-08-29 19:34] szul commented on #83
All packages should have changelogs in them once #99 is merged.

[2019-08-29 19:37] szul commented on #90
Once #99 is merged, all packages should have changelogs, and every package except the ATS storage package will conform to the ESLint rules. What more do you think is needed before merging v1 with master and performing the post v1 items?

[2019-08-31 13:26] szul commented on #68
Closing for now. Could revisit later.

[2019-08-31 13:35] szul commented on #78
I put it in the [Wiki](https://github.com/BotBuilderCommunity/botbuilder-community-js/wiki/Troubleshooting).

[2019-08-31 21:07] iMicknl commented on #78
Should we also add it to the `package.json`? https://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-package-json

[2019-08-31 21:28] szul commented on #78
We can do that.

[2019-09-01 12:43] tvvignesh commented on #60
@iMicknl @szul Would it be possible to give me an idea on any plans to support Google Assistant please? I love Bot Framework - only problem being that I have to rely on Dialogflow as of now for Google Assistant causing unnecessary extra code. Thanks in advance.

[2019-09-01 13:00] szul commented on #60
@tvvignesh I think @iMicknl is working on an Alexa one. For Google, I'd have to do a little more investigating, so I can't give you a time frame on that just yet. Commenting here is a good start though because it lets us know that there is interest for when we're prioritizing work, so thanks for that. I'll definitely reach out when I have more details.

[2019-09-01 13:06] #74 closed

[2019-09-01 13:06] #73 closed

[2019-09-01 13:07] szul commented on #75
Although I've simplified this in #101. I'm going to leave this issue open a bit longer in case we want to modify it more.

[2019-09-01 17:23] iMicknl commented on #60
@tvvignesh I don't have a Google Assistant myself, thus I prioritised Alexa for now. My time the coming 6 weeks will be limited, so don't expect anything from me on short term.

You could give it a try yourself, based on the .NET version and the other JavaScript adapters. Otherwise, someone will hopefully have time to port it to JavaScript also.

[2019-09-05 23:36] #78 closed

[2019-09-06 11:07] szul commented on #83
@iMicknl Should this be closed? All v1 packages have changelogs, and I've put up a [brief wiki page](https://github.com/BotBuilderCommunity/botbuilder-community-js/wiki/CHANGELOG-Best-Practices) to outline this as a contribution requirement. Not sure if you're looking to add anything else to it before closing.

[2019-09-06 16:25] #83 closed

[2019-09-07 01:33] szul commented on #77
Resolved by #105.

[2019-09-07 01:33] #77 closed

[2019-09-14 12:06] #75 closed

[2019-09-23 14:48] szul commented on #60
Moving this to v2 milestone. If we wait until these are done for v1, we'll be maintaining two code bases for an extensive period. The v1 code already has multiple renamed packages and upgrade. We'll want to integrate that soon.

[2019-09-23 14:51] szul commented on #90
@iMicknl I think we're in a good state to merge v1 with master. The console adapter and ATS storage have been broken out/renamed, and we have the renamed middleware packages. Everything except for the ATS storage is passing ESLint, and the Azure Pipeline build checks are solid. We have changelogs in each as well. I'd like to get this merged so we can focus on the requested adapters and some other

[2019-09-23 23:32] iMicknl commented on #90
@szul, fine by me! Maybe we could have a look for automating the releases in the future, after merge to master and all tests pass.

I will be on vacation until October 4, so don’t wait for my comments. 😉

[2019-09-26 11:52] szul opened #113 "Need a CONTRIBUTING.md file"

[2019-09-26 13:17] szul opened #114 "Port Alexa adapter from C# to JS"
Broken out of #60 and currently WIP by @iMicknl with #95 using the Bot Builder Community's .NET version as a baseline.

[2019-09-26 13:20] szul opened #115 "Port Google adapter from C# to JS"
Broken out of #60.

[2019-09-26 13:21] szul opened #116 "Port Twitter adapter from C# to JS"
Broken out of #60.

[2019-09-26 13:22] szul commented on #60
Broken out into #114, #115, and #116 so each can be addressed separately.

[2019-09-26 13:22] #60 closed

[2019-09-27 14:01] #90 closed

[2019-10-06 13:17] szul opened #123 "Move chatbots in examples to a samples folder off of the root"
Currently, we have example usage in `example` folders under each library package. We should probably pull these out and put them in a `samples` folder in the root to mirror what the dotnet team is doing.

[2019-10-06 13:23] CaptainLazarus commented on #123
can i be assigned this?

[2019-10-06 13:33] szul commented on #123
@CaptainLazarus Sure thing.

[2019-10-08 12:22] #123 closed

[2019-10-16 00:30] szul opened #128 "Add Instanbul to the pipeline for code coverage"

[2019-10-18 18:12] szul opened #130 "Google Natural Language API has a security vulnerability"
No package updates from Google yet to resolve this. Currently breaking the CI/CD build. The issue is with a dependency of the API SDK.

[2019-10-18 18:14] szul opened #131 "IBM Watson's SDK has a security vulnerability"
Currently breaking the CI/CD build. The issue is with a dependency of the API SDK. An upgrade to 5.x.x for the IBM Watson SDK will fix this, but it's a major version release which breaks our packages tests. Will need to upgrade the SDK and then update our package.

[2019-10-19 21:47] #128 closed

[2019-10-28 20:48] szul commented on #130
Resolved with #127.

[2019-10-28 20:48] #130 closed

[2019-10-28 20:49] szul commented on #131
Resolved with #127.

[2019-10-28 20:49] #131 closed

[2019-11-09 21:40] #116 closed

[2019-11-09 23:20] szul opened #133 "Remove Twitter package from the Twitter adapter"
Once the package was finished, only a single API call ended up using the “twitter” package. The rest had to be custom. Need to convert the final one to request-promise and remove the package.

[2019-11-09 23:22] szul opened #134 "Better separate Tweets vs. Direct Messages in Twitter adapter"
This needs to be refactored. It grew a little kludgy while testing and fixing.

[2019-11-09 23:25] szul opened #135 "Allow Twitter adapter to initiate conversation"
Right now the Twitter adapter is respond-first. If the user sends a tweet, it’ll respond with a tweet. If a direct message, it’ll respond with a direct message. Need to allow the adapter (and chatbot) to kick off a message of the user’s choice.

[2019-11-10 00:01] szul opened #136 "Consider refactoring static classes in Twitter adapter"
These classes grew because so much was needed just to register, subscribe, and kick off webhook interaction. Not 100% sold on it. Should consider refactoring to a better pattern.

[2020-01-16 09:35] nestoralonsovina opened #143 "[Twilio-WhatsApp] Add oauth to adapter"
Hello,

First of all, thanks for the implementation of the adapter.

We found out that the OAuth is not implemented in it, is there any reason for this? Or simply no one has tried to implement it yet.

If it's the second case, we might try to implement and if you want we'll create a pull request to make it available for everyone.

Nestor

[2020-01-16 10:00] iMicknl commented on #143
Good suggestion, @nestoralonsovina! Currently I didn't integrate OAuth yet, since that is something that isn't supported at any custom adapter yet.

However, it crossed my mind already and I gave it a try, but I faced some issues with integrating a custom adapter with the Bot Service. Feel free to work on it and share it with the community, would be highly appreciated.

We could use this issue to

[2020-01-16 10:50] iMicknl commented on #143
I think it would be great to have OAuth integrated for all custom adapters. It could possibly be integrated in the [`CustomWebAdapter` that I am building](https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/141). However if I look at multiple adapters, for Alexa we would possibly like to use [Account Linking](https://developer.amazon.com/en-US/docs/alexa/account-linking/understand-

[2020-01-16 12:28] nestoralonsovina commented on #143
Implementing ```IUserTokenProvider``` will imply using the ```TokenApiClient``` yes. The interface is just the 4 basic functions that have to be implemented to handle the auth.

If you want to implement it in other adapters, once I get something working (if I'm able to) I will extrapolate everything related to auth into a ```AuthDefaultAdapter``` who will extend ```DefaultAdapter``` and then be ex

[2020-01-16 23:41] iMicknl commented on #143
@nestoralonsovina I am also open for suggestions about how to integrate with this PR https://github.com/BotBuilderCommunity/botbuilder-community-js/pull/141. Would be great to have an easy option to optional add support for OAuth, while using `CustomWebAdapter`.

[2020-01-17 13:22] nestoralonsovina commented on #143
@iMicknl I've taken a look at the PR, it seems interesting and a good concept, for the moment I'm just trying to get something to work adapting the Twilio Adapter.

It'll surely need quite a bit of cleaning afterwards and making sure it's usable by someone who doesn't need the OAuth (since we'll be using it all the time I've not really paid much attention to that).

As an update, I've been able to

[2020-01-17 13:22] szul commented on #143
Yes, the Twitter adapter uses Oath for some of it's methods (the Twitter Activity API is a mess in general), but we currently only implement Oath for the owning user, so it's single-leg as opposed to multi-leg, which would be necessary to subscribe to other Twitter feeds you don't know.

[2020-01-17 15:17] iMicknl commented on #143
@nestoralonsovina sounds good! Do you have your code somewhere? In the end we could transform OAuthPrompts (and other cards) to static text messages in the adapter or in a middleware.

@szul isn't that different? You are using OAuth for the authentication with the Twitter API, not to authenticate the user to an other provider, like we are trying to achieve with this proposal.

[2020-01-17 15:42] szul commented on #143
@iMicknl I was assuming you were trying to OAuth to Twilio and/or WhatsApp.

[2020-01-17 15:43] nestoralonsovina commented on #143
@iMicknl transforming cards into static text messages would be the ideal scenario in this case, for the moment I've just created a modified oauth prompt, replacing the function that sends the card with:
[code]

The adapter is now working and is able to sign in the user using the magic code procedure, and it's able to retrieve the token using getUserToken afterwards. I haven't tested signOut yet.

[2020-01-29 11:12] nestoralonsovina commented on #143
I was preparing the pull request, but I've found that some of the things required to make it work are only on version 4.6 of the botbuilder package, do you guys have any plans to update it?

Anyways, you can take a look at the changes here: [my fork](https://github.com/nestoralonsovina/botbuilder-community-js), if you are okay with updating the dependency will try to update the tests and create th

[2020-01-30 08:06] iMicknl commented on #143
Cool, @nestoralonsovina! Updating BotBuilder to 4.7.0 is not a problem, I am updating it in my PR (#142) also.

If you create a PR, I will try to have a look soon. :-)

[2020-02-06 06:24] iMicknl opened #150 "Improve test coverage & strategy"
Currently, the test coverage of this repository is really low.

I am also responsible for this, since I struggled a lot with writing tests for the `TwilioWhatsAppAdapter` and I gave up in the end. I had a hard time mocking the adapter and Twilio class, since it wasn't easily mockable (for me).

Help wanted.

[2020-02-11 06:28] iMicknl opened #152 "Better specify supported Node versions and add to CI/CD"
Currently not all packages specify the supported Node versions. We could do better by aligning the supported Node versions to the BotKit/BotBuilder SDK repository and to also add all versions in our CI/CD pipeline.

[2020-02-11 06:30] iMicknl commented on #68
To be honest, I would keep it like `botbuilder-[package-name]` for now. By changing the README in #151, it is already more structured and readable.

[2020-02-11 06:41] iMicknl opened #153 "Update adapters for Skills compatibility"
Tracking issue for https://github.com/microsoft/botbuilder-js/issues/1523.

[2020-02-12 12:38] szul opened #158 "Validate SSML for Speech"
Mentioned by @iMicknl in #157--for speech-enabled functionality that accepts SSML, we should validate the data. XSD files can be found at: https://www.w3.org/TR/2009/REC-speech-synthesis-20090303/#AppD

[2020-02-12 13:48] iMicknl commented on #158
* Remove all duplicate `<speak>` `</speak>` tags
* Add `<speak>` `</speak>` tags if missing

* Suggest [ssml-builder](https://www.npmjs.com/package/ssml-builder) in documentation

[2020-02-12 13:51] szul commented on #158
@iMicknl Are you looking to validate the SSML or looking to build it without explicitly working with XML? I think we need both as options.

[2020-02-12 13:59] iMicknl commented on #158
My main point in #157 was removing the duplicate `<speak>` tags and wrapping it with `<speak>` tags if not present. However, good idea to validate the SSML, I am just wondering if this has a performance impact.. So not sure if we should include it by default in the adapters.

[2020-02-12 14:04] szul commented on #158
We can include the validation as optional and/or tie it to the environment (i.e., on for development; off for production).

Could be a moot point though. Do you know if Alexa does some minor validation on its end? Last I checked the optional SSML in `MessageFactory.text()` in the Bot Framework didn't require the `<speak>` tags since you were passing the text using a second parameter. Not sure if A

[2020-02-12 15:47] iMicknl commented on #158
Possibly we could add SSML validation in a separate helper util, later on? Tying it to environments doesn't make sense for me.

Amazon does validation server side, which means that they reject your message. Thus the reason that the Alexa adapter is adding <speak> tags around the message if you are using `activity.speak`.

[2020-02-12 15:55] szul commented on #158
@iMicknl Plenty of applications tie certain functionality to what environment you're running in. For example: Template compilation in the Express framework. ASP.NET Core does a few different things depending on environment too. My point was that if you're concerned about the overhead of validating against an XML Schema, you can either make the validation an optional check via a settings property,

[2020-03-16 15:20] kushalbhabra opened #160 "AdaptiveCardPrompt is missing"
Hi, I'm trying to use AdaptiveCardPrompt  but unable to find it under "@botbuildercommunity/dialog-prompts"

Could find only these Prompts
[ 'NumberWithUnitPromptType',
  'NumberWithUnitPrompt',
  'NumberWithTypePromptType',
  'NumberWithTypePrompt',
  'PhoneNumberPrompt',
  'EmailPrompt',
  'InternetProtocolPromptType',
  'InternetProtocolPrompt',
  'SocialMediaPromptType',
  'SocialMediaPrompt',

[2020-03-16 17:43] szul commented on #160
#161 resolves this. Install `@botbuildercommunity/dialog-prompts` version 1.1.1 and you should be good.

[2020-03-16 17:43] #160 closed

[2020-03-26 15:23] #114 closed

[2020-03-26 15:23] #143 closed

[2020-03-26 15:35] #150 closed

[2020-04-15 19:40] bigujun opened #169 "TableStorage InvalidInput"
Can't save conversationState.
Azure api returns: 400 - InvalidInput

[2020-04-15 20:29] szul commented on #169
Just on the `use()` or do you have other example code?

[2020-05-14 17:45] brunohjs commented on #57
Nice!!!
I had the same problem.
My botbuilder-testing package was at version 4.9.0, while botbuilder was at version 4.8.0.
I changed the version of botbuilder-testing to 4.8.0 and it worked!
Thanks!!!

[2020-06-03 09:50] nboussarsaracn opened #171 "Twillio WhatsApp Adapter Microsoft botframework"
I cannot seem to find the problem with linking a microsoft bot to whatsapp via Twilio.

I have followed instructions to setup the [Twilio WhatsApp adapter](https://www.npmjs.com/package/@botbuildercommunity/adapter-twilio-whatsapp).

I have implemented this on the standard echo bot for testing

[code]

Here is our configuration for BotFrameworkAdapterSettings:
[code]

Here is the configuration in

[2020-06-03 10:47] iMicknl commented on #171
I will have a look to see if I can reproduce this error. Could you share your `package.json` here? I would like to understand which versions and dependencies you have.

[2020-06-03 10:49] nboussarsaracn commented on #171
[code]

[2020-06-03 10:56] iMicknl commented on #171
I just tried your code and it works like a charm here. `502 Bad Gateway` is most of the time an issue with the deployment, have you verified if you can post to your endpoint? Could you try accessing it again via Twilio?

<img width="648" alt="Screenshot 2020-06-03 at 12 53 59" src="https://user-images.githubusercontent.com/1424596/83628784-54d44c00-a599-11ea-8a10-770734346055.png">

[2020-06-03 11:54] nboussarsaracn commented on #171
Thanks for the update @iMicknl.

In Azure Portal, I have defined one resource group called 'twilio-second-try'.

The resource group has a Web App Bot service called 'twilio-second-try' too and its associated Service Plan called 'twilio-second-try' too.
![image](https://user-images.githubusercontent.com/55238907/83629935-471fc600-a59b-11ea-96a3-9afa6ed9ff16.png)

Here is the channel configuration o

[2020-06-03 12:34] iMicknl commented on #171
Have you tried linking `twilio-second-try` to Twilio? Looking at your endpoint, this deploy went well and should be working.

The `HTTP 500 Internal Server Error` is not related to an authentication error, but sounds like an issue with the deployment / dependencies.

[2020-06-03 12:40] nboussarsaracn commented on #171
Do you mean creating a Twilio (SMS) channel in the Web App Bot?

The `HTTP 500 Internal Server Error` is thrown because the `appId` and `appPassword` parameters are not correctly set in the class `MicrosoftAppCredentials` which is part of the `botframework-connector` library. Please note that this error is only thrown when I use POSTMAN, using the `Web Chat` channel or the `Bot Framework Emulator`

[2020-06-03 12:52] nboussarsaracn commented on #171
What are your channels configuration in Web App Bot? Also, do you have any specific configuration in your App Service or Web App Bot?

[2020-06-03 13:24] nboussarsaracn commented on #171
By the way, a [similar issue](https://stackoverflow.com/questions/61671876/twillio-whatsapp-adapter-microsoft-botframework) is still open in stackoverflow

[2020-06-03 14:06] iMicknl commented on #171
No, you don't need any additional channel in Azure Web Chat since you are using a custom adapter which will bypass the Azure Bot Service.

The Web Chat channel doesn't go through the `/api/whatsapp/messages` endpoint, but communicates with the `/api/messages` endpoint. Nevertheless should this not make that much of a difference. I will investigate.

What I meant with the deployment / dependencies,

[2020-06-03 14:47] nboussarsaracn commented on #171
Thanks for your support @iMicknl.

I would also be glad if you share with me your ngrok settings to be able to run WhatsApp Adapter locally ;)

[2020-06-03 16:19] steps371 opened #172 "Adding AdaptiveCard to DialogSet results in error"
Hi,

Glad to see community js examples popping up!

I am trying to implement an adaptive card prompt inside of dialogs, but I cannot seem to replicate the brief example in the documentation mentioned [here](https://github.com/BotBuilderCommunity/botbuilder-community-js/blob/master/libraries/botbuilder-dialog-prompts/README.md).

The code below is the `run` method of my top-level dialog.

[code]

I

[2020-06-03 16:44] szul commented on #172
@mdrichardson Any brief thoughts on this? I'll try to run through it over the weekend, if not.

[2020-06-03 16:58] mdrichardson commented on #172
@szul @steps371 Brief thoughts are that I know Dialogs got reworked quite a bit in 4.9 and require providing a type, I believe. I haven't looked into it much. Might have time to later this week, but @steps371 might be able to downgrade botbuilder packages to 4.8 for now.

[2020-06-03 17:04] szul commented on #172
I think our current packages are sitting on 4.8. I have a PR for 4.9 in draft, but I need to test all the samples before making it non-draft. If nobody gets to it before me, I'll be able to debug/test when I run through those samples.

[2020-06-04 13:29] nboussarsaracn commented on #171
Hi @iMicknl, I hope you are progressing well! Please let me know if I can help.

[2020-06-10 10:01] nboussarsaracn commented on #171
Hi @iMicknl, have you got any update regarding that topic?

[2020-06-10 11:48] iMicknl commented on #171
I will give it a try @nboussarsaracn. Are you running this package on App Service for Windows or Linux? Did you had a look at your application log after you faced those errors.

[2020-06-15 11:20] nboussarsaracn commented on #171
Hi @iMicknl,

Thanks for the reply.

Well, I think we are not using the same setup in Azure. Please find below the services I am running for this use case:
![image](https://user-images.githubusercontent.com/55238907/84641102-e2e5f600-aefa-11ea-8a5a-586e66422e70.png)

As you can see, I am using a `Web App Bot` with an `App Service`. I did not use a Code First approach, I rather created the whole re

[2020-06-15 11:29] iMicknl commented on #171
This is not correct. This should be the WhatsApp enabled phone number, provided by Twilio. Your error below is related to the fact that you are not using the right number. The `phoneNumber` paramater is expecting to have the number where the bot will reply from.

[code]

I will have a look if we can make those instructions more clear in a future version.

[2020-06-15 11:29] #171 closed

[2020-06-15 11:39] nboussarsaracn commented on #171
Hi @iMicknl, I changed it to the Whatsapp Number provided by Twilio and now it works like charm :) Thank you for the support!

[2020-06-15 11:46] iMicknl commented on #171
@nboussarsaracn great to hear! And by now, you should also have improved your debugging experience on Azure App Service a little bit. In the Application folder with different logfiles, you should also be able to find some of the errors you experienced before.

[2020-07-16 09:31] sanjaysabnani opened #173 "Twitter Adapter always gives Invalid CRC token or json response format."
Hi Team,

I have tried the twitter adapter using botbuilder.
I always get the Invalid CRC token error.
The same environment variables work for autohook by twitter.
But I want to maintain  1 code base for all bots.
Please check if something has changed from twitter.

Regards,
Sanjay Sabnani

[2020-07-16 10:29] szul commented on #173
@sanjaysabnani Have you tried the same in the repo with the instructions? Do you get the same error?

[2020-07-16 15:52] sanjaysabnani commented on #173
@szul
Yes, I have used the same in the repo following all instructions.
I use the exact same environment variables and it works  perfectly for autohook.

[2020-07-27 11:47] szul commented on #173
I'll be coming back to this shortly, as it's a part of a project that I'm working on.

[2020-08-14 10:45] steps371 commented on #172
Thanks for the responses, unfortunately we need 4.9 for some of the new features like carousel and speech-to-text. Any idea when the packages will refer to 4.9?

[2020-08-14 10:46] szul commented on #172
@steps371 Hopefully in the next 1-2 weeks.

[2020-10-14 16:29] penguinsource opened #199 "Service error 'Unknown' when attempting to send a (non-reply) message"
Hi!

I am using the Bot Framework Rest API with Node. I am successfully sending reply messages upon a user sending a message (in MS Teams).

I am now trying to start a conversation, to which the response comes back successful, with a conversation id.
( POST /v3/conversations returns me an id - great!)

Then, I try to send a message to that conversation id and I keep getting Service error 'Unknown'

[2020-10-15 16:19] penguinsource commented on #199
Hello world, please halp?

[2020-10-16 17:04] szul commented on #199
Is this a question specifically related to this community repository? It looks like you're asking a question about the Bot Framework in general? You might be better served asking it in the Microsoft Bot Builder JS repository.

[2020-10-16 18:06] penguinsource commented on #199
Is it this repository (https://github.com/microsoft/BotFramework-Services/issues/260) or another one that you re referring to?

[2020-10-17 12:48] szul commented on #199
It looks like Microsoft has assigned some people to look at it, so it's either the correct repo, or they'll transfer it to the correct one.

[2020-10-17 12:48] szul commented on #199
@arafattehsin Please close.

[2020-10-17 12:59] arafattehsin commented on #199
Closing this issue as it was related to Bot Framework portal within Azure.

[2020-10-17 12:59] #199 closed, assigned to nobody

[2020-10-21 14:37] gabriel-souza-omni opened #200 "Using sendActivities() doesn't preserve order?"
I've found that if I have multiple messages like
[code]
and I send them using `context.sendActivities(messages)` they usually arrive out of order in WhatsApp. Inserting a delay activity, like `{type: "delay", value: 2000}` between the messages helps. Is it something to do with the adapter? Has anyone else experienced this? Thanks in advance.

[2020-10-23 12:12] iMicknl commented on #200
@gabriel-souza-omni just to be sure, are you using the Twilio WhatsApp adapter?

Using `sendActivities`, messages are sent in order. However since messages are sent asynchronously and one by one, it can happen that they are out of sync... My advice would be to add a delay indeed.

[2020-10-23 12:35] gabriel-souza-omni commented on #200
@iMicknl Yes I am using the Twilio WhatsApp adapter. Thanks for the reassuring answer, I was worrying if this solution was a bit of a hack and that something I made was causing the order to not be preserved.

[2020-10-27 18:49] #200 closed, assigned to nobody

[2020-12-21 04:06] sairajrapuru opened #203 "Error: TwilioWhatsAppAdapter.sendActivities(): Twilio could not find a Channel with the specified From address."
Update -- The issue already solved here: https://github.com/BotBuilderCommunity/botbuilder-community-js/issues/171

[2020-12-21 04:44] #203 closed, assigned to nobody

[2020-12-21 04:45] sairajrapuru commented on #203
The phone number has to be Twilio provided number and not the number from which you send the message.

[2021-01-08 06:30] shehaniperera opened #204 "Unable to send messages from botframework to connected twilio whatsapp"
The botframework end point receives the message sent through whatsapp. However when trying to pass the message from bot TwilioWhatsAppAdapter.sendActivities(): Activities of type 'trace' aren't supported. Have used the code provided in https://www.npmjs.com/package/@botbuildercommunity/adapter-twilio-whatsapp and tried the same provided in https://github.com/BotBuilderCommunity/botbuilder-communit

[2021-01-08 08:02] #204 closed, assigned to nobody

[2021-01-08 11:41] iMicknl commented on #204
@shehaniperera has this been resolved, since you closed the issue? :)

[2021-02-24 10:57] Kadae commented on #65
Is there a way to improve the image quality on NodeJS? They're so pixelated...

[2021-02-24 11:00] iMicknl commented on #65
@Kadae could you share a bit more information? Image quality of which images? And which code are you using to generate images.

[2021-02-24 11:09] Kadae commented on #65
@iMicknl I using BotFramework with CardFactory.adaptiveCard() and in Telegram (they're doesn't support Adaptive Cards) platform renders images.

Image quality is very low. This is a problem.

[2021-02-24 11:18] iMicknl commented on #65
@Kadae please create an issue at https://github.com/microsoft/BotFramework-Services. This repository is not a Microsoft governed repository, but it is a community effort where open source extensions for Bot Framework are shared.

Your issue is with the Microsoft Bot Service, thus better belongs in the repository mentioned above.

[2021-02-24 11:18] #65 closed

[2021-02-27 00:50] pgoldweic opened #205 "unable to use dynamodb storage - what are the database requirements?"
I'm trying to use the dynamo storage package in this project, but whenever I use it in my botkit-based application, I get the following error:

      ValidationException: The provided key element does not match the schema

This is how I'm using this package within my 'bot.js' file:

     const {DynamoDBStorage }= require('@botbuildercommunity/storage-dynamodb');
     const dynamoDBStorage = new Dy

[2021-03-01 17:36] pgoldweic commented on #205
After inspecting the source code for this adapter, the response to my question seems to be that the database should be created with a hash key named 'key'. Since I had created my Dynamo db using  'id' as the hash, my code did not work. This database requirement should certainly be part of the documentation for this storage adapter (otherwise the adapter is unusable without first reading the source

[2021-03-09 01:41] hsachinraj opened #207 "Adding Node runtime stops transcript logging"
I am referring to this [bug](https://github.com/microsoft/BotFramework-Composer/issues/6082).
While using Bot composer, I noticed that when I add a custom runtime (JS), my bot stops logging of transcripts and state in Blob and CosmosDB. Until I add the runtime, it works fine.

I don't know if there is anything needed to get this work. I haven't got any response from the Composer team. Hoping someo

[2021-03-09 16:39] iMicknl commented on #207
It could be that JS runtime (preview) in Composer doesn't have the same features as the C# runtime yet. Best place to discuss this is the issue you mentioned or StackOverflow.

Since this is not related to any botbuilder-community packages, I wil close the issue here.

[2021-03-09 16:39] #207 closed, assigned to nobody

[2021-04-09 12:28] manju605 opened #227 "How to send messages between Skills using TwilioWhatsAppAdapter"
### How to send messages between Skills using TwilioWhatsAppAdapter

## Description
Twilio Adapter expects header params x-twilio-signature. How to send it from RootBotApp to SkillBotApp.

## To Reproduce
Steps to reproduce the behavior:
1. Run RootBotApp and SkillAppBot in TwilioWhatsAppAdapter
2. Post to skill from RootBot

[2021-04-09 12:38] iMicknl commented on #227
Thanks for reporting, @manju605. I don't have experience with this yet, but perhaps we can have a look at adapters for C#.

I can imagine that the TwilioWhatsAppAdapter needs a small rewrite, but I wouldn't know where to start.

[2021-07-20 12:12] iMicknl commented on #227
Hopefully I have some time in the coming weeks to have a look here, apparently this was already logged a while ago. https://github.com/BotBuilderCommunity/botbuilder-community-js/issues/153

@manju605 are you still using this adapter? And are you using Composer by any chance?

[2021-08-04 13:03] coreyjv opened #277 "Improve ability to configure DynamoDB Client and/or expose ability to provide DynamoDB Client"
In reviewing the source for the project [here](https://github.com/BotBuilderCommunity/botbuilder-community-js/blob/master/libraries/botbuilder-storage-dynamodb/src/dynamoDBStorage.ts#L100) I noticed that it's making a global configuration update instead of providing these options to the `DocumentClient` constructor which is supported as noted [here](https://docs.aws.amazon.com/AWSJavaScriptSDK/lat

[2021-08-27 21:04] KittPhi opened #290 "."
.

[2021-09-03 16:18] #290 closed, assigned to nobody

[2021-11-01 18:24] #205 closed, assigned to nobody

[2021-11-01 18:53] pgoldweic opened #294 "dynamodb storage issue: new validation exception when reading"
I am converting an Amazon Elastic Beanstalk bot created with botkit and botbuildercommunity's storage-dynamodb to run under Amazon Linux 2 (still on AWS EB), and after the latest deployment I started seeing this error as soon as I start talking to the bot:

      web: ValidationException: 1 validation error detected: Value '{:tlt-canvasbot-botbuilder-storage-test=KeysAndAttributes(keys=[{key=com.a

[2021-11-11 17:07] pgoldweic commented on #294
The update to this problem is that I have re-created this environment by re-cloning the environment I had cloned in the past to create the troubled environment. The problem is not there in this new, re-created environment (no code changes at all). While this makes me now even more puzzled than before (why on earth was I getting the above errors in the first place?), it is not an issue for me anymo

[2021-11-11 17:07] #294 closed, assigned to nobody

[2021-12-28 11:22] mallipriya opened #296 "Fetch User Information for Alexa skill using Bot framework V4 NodeJS"
Is there a way to fetch personal information of customer like name, email, phone number using [Alexa adapter - BotBuilder Community](https://github.com/BotBuilderCommunity/botbuilder-community-js/tree/master/libraries/botbuilder-adapter-alexa) for Bot framework v4 nodeJs SDK?

[2022-01-05 06:12] mallipriya commented on #296
We can achieve it using customer profile api. Refer [customer-profile-api in amazon Alexa skills](https://medium.com/@nils.backe/how-to-use-the-customer-profile-api-in-amazon-alexa-skills-671773c672f6).

[2022-01-05 06:12] #296 closed, assigned to nobody

[2022-03-31 16:53] res-r opened #329 "Twilio limits whatsapp messages to 1600 characters"
Hello,
firstly thank you for building the JS whatsapp adapter. I have been using this to prototype my whatsapp chatbot. However, today I ran into a hurdle in the form of 1600 character limit imposed by Twilio API on whatsapp messages :(
I have two questions,
1. any suggestions to work around this? My bot prompts are also exceeding the limit and I am not sure how to break the message into smaller c

[2022-07-02 19:14] fabricioloupias commented on #173
Any news on this? The same thing happens to me, using the autohook works correctly. But not from the bot

[2022-07-02 19:41] fabrifls commented on #173
@sanjaysabnani I don't know if the same thing is happening to you, but I had problems with the CRC token that I couldn't solve.
The solution was that the environment variable path (TWITTER_WEBHOOK_URL) points to **/api/twitter/messages**

`TWITTER_WEBHOOK_URL=https://{ngrok_domain}/api/twitter/messages`

[2022-07-02 19:49] szul commented on #173
Sorry, but I haven't worked on this project in years and would consider the code vastly outdated. A community library like this easily turns into a full time side job which none of the previous contributors could commit to and Microsoft didn't seem willing to invest in a FTE on the JavaScript side for community development (at least at the time I was building this). You'd be better off rolling you

[2022-07-04 23:57] fabrifls commented on #173
Luckily I was able to solve it, I think I expressed myself wrong in the previous message. I don't speak English very well, sometimes the translator doesn't work as you want

[2022-07-19 20:25] vikramhn opened #347 "ACS SMS Bot Framework adapter - time line"
I was wondering if you have a timeline that we can expect a JS ACS SMS Bot Framework adapter similar to the dotnet?
[Azure Communication Services SMS Adapter for Bot Builder v4 .NET SDK](https://github.com/BotBuilderCommunity/botbuilder-community-dotnet/tree/develop/libraries/Bot.Builder.Community.Components.Adapters.ACS.SMS )

[2022-11-03 01:13] antishok commented on #153
Hi, any news on this?
The linked issue from `botbuilder-js` is marked as closed, but TwilioWhatsAppAdapter is not working with skills, at least for me.
Thanks!

[2022-11-23 16:31] HesselWellema opened #349 "Twilio WhatsApp Adapter: request doesn't contain a valid Twilio Signature"
Hi,

I am struggling getting the adapter to work properly. The validation of the request keeps failing resulting in the errormessage above

[code]
For the endpointUrl parameter I use is the one from my chatbot: https://mybot.azurewebsites.net/api/whatsapp/messages

for the phoneNumber parameter  I tried multiple formats without succes:
whatsapp:+1XXXXXXXXXX
whatsapp:1XXXXXXXXXX
+1XXXXXXXXXX
1XXXXX

[2022-11-24 09:27] HesselWellema commented on #349
The sample works fine. Should have tried that first
An analysis of my own botcode showed that the problem was a line of code:
 server.use(require('body-parser').json()
Since I am using restify I am not sure why it is there in the first place.

[2022-11-24 09:27] #349 closed, assigned to nobody